.form {
  margin: 0;
  padding: 10px;
  min-width: 280px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.65);
}

.form__title {
  margin: 0 0 10px 0;
  width: 100%;
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 1.6em;
  text-align: center;
  color: #1c241e;
  font-weight: 100;
  background-image: linear-gradient(to right, #59c173, #11998e);
}

.form__input {
  width: 95%;
  color: #000;
  font-weight: 300;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #5b5b5b;
  padding: 5px;
  outline: 0;
}

.form__input:focus,
&:hover {
  border-color: #bdbdbd;
}
.form__input::placeholder {
  font-weight: 100;
}

.form__button {
  width: 60%;
  border: 0;
  padding: 10px 0;
  margin-top: 15px;
  border-radius: 5px;
  color: #3e3e3e;
  text-transform: uppercase;
  font-weight: 400;
  background: #11998e;
  background: -webkit-linear-gradient(to right, #59c173, #11998e);
  background: linear-gradient(to right, #59c173, #11998e);
  cursor: pointer;
  box-shadow: 0px 7px 9px -10px rgba(0, 0, 0, 0.65);
}

@media (min-width: 600px) {
  .form {
    padding: 20px;
    min-width: 380px;
    gap: 10px;
  }

  .form__title {
    padding: 10px 0;
    font-size: 1.8em;
  }

  .form__input {
    padding: 10px;
  }

  .form__button {
    font-size: 1.1em;
  }
}
